<div class="cart-trustmetric-img">
    <img alt="" src="https://www.excelclothing.com/media/wysiwyg/Cart_Trustmetrics/delivery-outline.svg">
    <div class="cart-trustmetric-content">
        <p class="large">INTERNATIONAL SHIPPING</p>
        <p>
            Please&nbsp;
            <strong><a href="/delivery" target="_self">click here</a></strong>
            &nbsp;to view our worldwide delivery rates.
        </p>
    </div>
</div>