<div class="custom-section color-{{ section.settings.color_scheme }}">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Theme blocks",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }, { "type": "free-shipping" }],
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Theme blocks"
    },
    {
      "name": "Heading and text",
      "blocks": []
    }
  ]
}
{% endschema %}