/* HEADER */
header-menu .link {
    font-size: 1.6rem;
}

/* FOOTER */
.footer-block__details-content .list-menu__item--link,
.footer-block__details-content .list-menu__item--link:hover {
    text-decoration: none !important;
}
.footer-block__newsletter {
    text-align: left;
}
.footer-block__newsletter .footer-block__heading {
    margin-bottom: 1rem;
}
.footer-block__newsletter .newsletter-form__field-wrapper .field__input {
    background-color: rgb(var(--color-foreground));
}
.footer-block__newsletter .newsletter-form__field-wrapper .field__button,
.footer-block__newsletter .newsletter-form__field-wrapper .field__label {
    color: rgb(var(--color-background));
}
footer .footer-block__heading,
footer .footer-block__details-content .list-menu__item--link {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}
footer .footer-block__heading {
    font-weight: 700;
}

/* PRODUCT PAGE */
.product .price__container {
    letter-spacing: 0;
}
.product__info-container .product__description {
    font-size: 1.3rem;
    line-height: 2rem;
}

/* Price */
.product__info-container .product__tax {
    display: none;
}
.product__info-container .price--on-sale .price__sale {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}
.product__info-container .price .price-item--sale {
    color: red;
    font-size: 2.4rem;
}
.product__info-container .price--on-sale .price__badge-sale {
    display: none;
}
.product .product__info-container .price--on-sale .price-item--regular {
    color: #898988;
    font-size: 1.4rem;
}
/* accordians */
.product__accordion.accordion {
    border-bottom: 0;
    border-top: 0;
}
.product__accordion.accordion summary {
    padding: .5rem 0;
}
.product__accordion.accordion summary .icon-caret {
    left: 0;
}
.product__accordion.accordion summary .accordion__title {
    font-size: 1.3rem;
    text-transform: uppercase;
}
.accordion .summary__title {
    margin-left: 2rem;
}
/* spacing */
.product__info-container .product-form {
    margin: 1.5rem 0;
}

.vendor {
    color: rgb(var(--color-foreground));
    display: block;
    font-size: calc(var(--font-heading-scale) * 3rem);
}
@media only screen and (min-width: 750px) {
    .product__title h1,
    .product__title .h1 {
        font-size: calc(var(--font-heading-scale) * 1.8rem);
    }
}

/* homepage collections list */
section.section-collection-list slider-component ul.collection-list li.collection-list__item .card--media .card__content .card__information {
    align-items: center;
    display: flex;
    flex-direction: column;
}
section.section-collection-list slider-component ul.collection-list li.collection-list__item .card--media .card__inner + .card__content {
    display: none;
}

@media screen and (min-width: 990px) {
    .header__menu-item .icon-caret {
        display: none;
    }
    .header--middle-left {
        grid-template-columns: auto auto auto;
    }
    .header:not(.drawer-menu).page-width {
        max-width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
    .header:not(.drawer-menu).page-width .header__inline-menu {
        display: flex;
        justify-content: center;
    }
    nav.header__inline-menu {
        background: #EFEAE5;
        width: -webkit-fill-available;
    }
    .header__active-menu-item,
    .header__menu-item:hover span,
    details[open]>.header__menu-item {
        text-decoration: none;
    }
}